:root {
    --hippie-blue-50: #f1f7fa;
    --hippie-blue-100: #dcebf1;
    --hippie-blue-200: #bdd9e4;
    --hippie-blue-300: #90bdd0;
    --hippie-blue-400: #6aa2bc;
    --hippie-blue-500: #3f7c9b;
    --hippie-blue-600: #376683;
    --hippie-blue-700: #32546c;
    --hippie-blue-800: #30485a;
    --hippie-blue-900: #2b3e4e;
  
    --color-base-0: rgb(255, 255, 255);
    --color-base-50: var(--hippie-blue-50);
    --color-base-100: var(--hippie-blue-100);
    --color-base-150: rgb(221, 234, 238);
    --color-base-200: var(--hippie-blue-200);
    --color-base-250: rgb(150, 197, 208);
    --color-base-300: var(--hippie-blue-300);
    --color-base-350: rgb(78, 159, 176);
    --color-base-400: var(--hippie-blue-400);
    --color-base-450: rgb(48, 117, 132);
    --color-base-500: var(--hippie-blue-500);
    --color-base-550: rgb(34, 94, 106);
    --color-base-600: var(--hippie-blue-600);
    --color-base-650: rgb(27, 71, 80);
    --color-base-700: var(--hippie-blue-700);
    --color-base-750: rgb(21, 48, 54);
    --color-base-800: var(--hippie-blue-800);
    --color-base-850: rgb(16, 32, 36);
    --color-base-900: var(--hippie-blue-900);
    --color-base-950: rgb(5, 10, 11);
    --color-base-1000: rgb(0, 0, 0);
  }
  