:root {
    --color-base-0: rgb(246, 249, 252);
    --color-base-50: rgb(229, 237, 245);
    --color-base-100: rgb(212, 226, 238);
    --color-base-150: rgb(194, 214, 231);
    --color-base-200: rgb(177, 202, 224);
    --color-base-250: rgb(159, 191, 217);
    --color-base-300: rgb(142, 179, 210);
    --color-base-350: rgb(125, 167, 203);
    --color-base-400: rgb(107, 155, 196);
    --color-base-450: rgb(90, 144, 189);
    --color-base-500: rgb(72, 132, 183);
    --color-base-550: rgb(66, 119, 165);
    --color-base-600: rgb(59, 107, 148);
    --color-base-650: rgb(52, 94, 130);
    --color-base-700: rgb(45, 82, 113);
    --color-base-750: rgb(38, 69, 96);
    --color-base-800: rgb(31, 57, 78);
    --color-base-850: rgb(24, 44, 61);
    --color-base-900: rgb(17, 31, 43);
    --color-base-950: rgb(10, 19, 26);
    --color-base-1000: rgb(3, 6, 9);
  
    --color-error-0: rgb(253, 246, 245);
    --color-error-50: rgb(248, 230, 226);
    --color-error-100: rgb(243, 213, 206);
    --color-error-150: rgb(238, 196, 187);
    --color-error-200: rgb(233, 179, 168);
    --color-error-250: rgb(228, 162, 148);
    --color-error-300: rgb(223, 145, 129);
    --color-error-350: rgb(218, 128, 109);
    --color-error-400: rgb(214, 111, 90);
    --color-error-450: rgb(209, 94, 71);
    --color-error-500: rgb(204, 77, 51);
    --color-error-550: rgb(184, 70, 46);
    --color-error-600: rgb(165, 62, 41);
    --color-error-650: rgb(146, 55, 37);
    --color-error-700: rgb(126, 48, 32);
    --color-error-750: rgb(107, 40, 27);
    --color-error-800: rgb(87, 33, 22);
    --color-error-850: rgb(68, 26, 17);
    --color-error-900: rgb(48, 18, 12);
    --color-error-950: rgb(29, 11, 7);
    --color-error-1000: rgb(10, 4, 2);
  
    --color-success-0: rgb(248, 250, 247);
    --color-success-50: rgb(233, 241, 232);
    --color-success-100: rgb(218, 232, 217);
    --color-success-150: rgb(203, 223, 202);
    --color-success-200: rgb(189, 213, 187);
    --color-success-250: rgb(174, 204, 172);
    --color-success-300: rgb(159, 195, 157);
    --color-success-350: rgb(144, 186, 142);
    --color-success-400: rgb(130, 176, 127);
    --color-success-450: rgb(115, 167, 112);
    --color-success-500: rgb(100, 158, 97);
    --color-success-550: rgb(91, 143, 88);
    --color-success-600: rgb(81, 128, 79);
    --color-success-650: rgb(72, 113, 69);
    --color-success-700: rgb(62, 98, 60);
    --color-success-750: rgb(53, 83, 51);
    --color-success-800: rgb(43, 68, 42);
    --color-success-850: rgb(33, 53, 32);
    --color-success-900: rgb(24, 38, 23);
    --color-success-950: rgb(14, 23, 14);
    --color-success-1000: rgb(5, 8, 5);
  
    --color-warning-0: rgb(254, 250, 244);
    --color-warning-50: rgb(251, 240, 222);
    --color-warning-100: rgb(249, 230, 200);
    --color-warning-150: rgb(246, 220, 179);
    --color-warning-200: rgb(244, 210, 157);
    --color-warning-250: rgb(241, 200, 135);
    --color-warning-300: rgb(239, 190, 113);
    --color-warning-350: rgb(236, 180, 91);
    --color-warning-400: rgb(234, 170, 70);
    --color-warning-450: rgb(231, 159, 48);
    --color-warning-500: rgb(229, 149, 26);
    --color-warning-550: rgb(207, 135, 24);
    --color-warning-600: rgb(185, 121, 21);
    --color-warning-650: rgb(163, 107, 19);
    --color-warning-700: rgb(142, 93, 16);
    --color-warning-750: rgb(120, 78, 14);
    --color-warning-800: rgb(98, 64, 11);
    --color-warning-850: rgb(76, 50, 9);
    --color-warning-900: rgb(54, 36, 6);
    --color-warning-950: rgb(33, 21, 4);
    --color-warning-1000: rgb(11, 7, 1);
  }
  
  $font-url: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";
  
  @import url($font-url);

  $font-body: "Lato", sans-serif;